/* Dashboard.css */

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .box {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    width: 100%;
  }
  
  .header {
    font-weight: bold;
    color: #1976d2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .subHeader {
    margin-bottom: 1.5rem;
    color: #6c757d;
    font-size: 1.5rem;
  }
  
  .subHeader--responsive {
    font-size: 2rem;
  }
  
  .imgBox {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    margin-bottom: 1.5rem;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 1.1rem;
  }
  
  .buttonOutlined {
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 1.1rem;
    border: 1px solid #1976d2;
    color: #1976d2;
  }
  