/* LandingPage.css
.container {
    text-align: center;
    margin-top: 120px;
  }
  
  .button {
    margin: 8px;
  }
  
  .button-register {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .button-login {
    border-color: #1976d2;
    color: #1976d2;
    padding: 10px 20px;
    border-radius: 5px;
  }
   */